usa bun como manager de paquetes
usa bun para ejecutar los comandos npm
usa typescript para el desarrollo
usa biome para el formateo y el linting
comprueba si existe un servidor corriendo antes de ejecutar el comando de desarrollo
si existe mas de 1 servidor cierralos hasta que solo quede 1 levantado
no reinciar el servidor si no es necesario
seguir las buenas prácticas de desarrollo SOLID
