---
import User from "../assets/Image.webp";
// import User2 from "../assets/azuwo.png";
---

<section class="about" id="about">
  <figure class="about-picture">
    <img src={User.src} alt="Daniel Leon picture" />
  </figure>
  <article class="about-bio">
    <h3 class="heading-3">
      Hello, I'm Daniel, a seasoned software developer with over 10 years of
      experience, dedicated to crafting intuitive user interfaces and engaging
      digital experiences.
    </h3>
    <p class="text-normal">
      I rely on agile methodologies and Test-Driven Development (TDD) to ensure
      that the solutions I develop are robust, efficient, and scalable.
    </p>
    <p class="text-normal">
      My career stands at the intersection of design and technology, where I
      work with modern tools such as React, Next.js, and TypeScript, and apply
      agile methodologies and TDD to build robust and efficient solutions.
    </p>
    <p class="text-normal">
      I have led multidisciplinary teams and collaborated closely with designers
      and developers on eCommerce, SaaS, and digital platform projects, always
      committed to innovation, quality, and accessibility.
    </p>
  </article>
</section>
